{%- do view.registerAssetBundle("wsydney76\\elementmap\\web\\assets\\elementmap\\ElementMapAsset") -%}

<div class="elementmap-table">
    {% if elements is iterable %}
        <ul>
            {% for element in elements %}
                <li>
                    <a target="_blank" href="{{ element.url }}" data-id="{{ element.id }}" data-editable>
                        {#{% if element.icon is defined %}
                            <span class="icon icon-mask">{{ svg(element.icon) }}</span>
                        {% endif %}#}
                        {{ element.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% elseif elements %}
        {{ elements }}
    {% else %}
        <span>--</span>
    {% endif %}
    {% if elementsNotShown is defined and elementsNotShown %}
        <div class="elementmap-info">
            {{ elementsNotShown }} {{ '{count,plural,=1{more element} other{more elements}} not shown due to limit'|t('_elementmap', {count: elementsNotShown}) }}
        </div>
    {% endif %}

</div>
