
<div class="elementmap-table">
    {% if elements is iterable %}
        <ul>
            {% for element in elements %}
                <li>
                    {% if element.canView  %}
                        <a href="{{ element.url }}">
                            {{ element.title }}
                        </a>
                    {% else %}
                        <div>
                            {% if settings.showUnpermitted == 'true' %}
                                {{ element.title }}
                            {% else %}
                                {{ 'No permission to view this element'|t('_elementmap') }}
                            {% endif %}
                        </div>

                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% elseif elements %}
        {{ elements }}
    {% else %}
        <span>--</span>
    {% endif %}
    {% if elementsNotShown is defined and elementsNotShown %}
        <div class="elementmap-info">
            {{ elementsNotShown }} {{ '{count,plural,=1{more element} other{more elements}} not shown due to limit'|t('_elementmap', {count: elementsNotShown}) }}
        </div>
    {% endif %}

</div>
